@import "../css/reset.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');


html {
    overflow: hidden;
}
body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    font-family: 'Roboto' , serif;
    color: #424F57;
}
.parallax {
	position: relative;
	width: 100%;
    overflow: hidden;
}
.parallax::before {
	content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
	z-index: -1;
	transform: translateZ(-1px) scale(2);
    background: center/cover no-repeat;
}
.hero::before{    
    background-image: linear-gradient(rgb(0,0,0,.9),rgb(0,0,0,.5)),url(../img/bg-sections/bg1.jpg);
}
.companies::before{    
    background-image: linear-gradient(rgb(0,0,0,.9),rgb(0,0,0,.5)),url(../img/bg-sections/bg2.jpg);
}
.testimonials::before{    
    background-image: linear-gradient(rgb(0,0,0,.9),rgb(0,0,0,.5)),url(../img/bg-sections/bg3.jpg);
}
.bottom-traengle,
.top-fill-traengle{
    position: relative;
}
.top-fill-traengle::before{
    position: relative;
    top: 0;
    left: 0;
    content: "";
    display: block;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    width: 100%;
    height: 85px;
    background-color: #fff;
}
.bottom-traengle::after{
    position: relative;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
    height: 85px;
    background-color: #fff;
}

.container{
    max-width: 1120px;
    padding: 0px 10px;
    margin: 0 auto;
}

.content{
    padding: 120px 0 90px 0;
    text-align: center;
}

.logo-name{
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
}
.text--logo-colored{
    text-transform: uppercase;
    font-weight: 900;
    color: #14AFCA;
}

.nav-wrapper{
    background-color: #fff;
}
.nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.nav__list{
    display: flex;
    text-transform: uppercase;
}
.item__link{
    text-decoration: none;
    text-transform: inherit;
    color: inherit;
    display: block;
}
.nav__list .list__item:not(:last-child){
    margin-right: 50px;
}
.nav__list .item__link:hover{
    color:#14AFCA;
}
.hero__heading{
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 42px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0px 134px 0px;
}
.heading{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    padding: 5px 0;
}
.text--white{
    color: #fff;
}
.heading--small{
    color: inherit;
    letter-spacing: .9px;
    font-size: 18px;
    line-height: 75px;
}
.text{
    color: inherit;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    padding: 5px 0;
}
.text--big--bold{
    padding: 10px 0;
    font-style: bold;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: .75px;
}
.company__list{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 55px;
    align-items: center;
}

.team__list{
    display: flex;
    justify-content: space-between;
}
.team__list > .list__item{
    box-sizing: border-box;
    width: 309px;
    padding: 5px;

}
.img-wrapper{
    width: 205px;
    height: 205px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.member__description{
    padding: 15px 0;
    line-height: 24px;
    font-size: 15px;
}


.quotes{
    padding: 15px 0;
}
.quote{
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
}
.quote__author{
    text-align: right;
    line-height: 28px;
    letter-spacing: .45px;
}
.quote__author::before{
    content: "-";
    padding-right: 5px;
}
.quote__text{
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.copyright{
    margin-top: 90px;
}
.text--copyright{
    line-height: 24px;
}
.copyright--name{
    font-weight: bold;
}