@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

body{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
}
.table1,
.table2{
    border: 22px solid #3A4965;
    margin: 50px auto;
}
.table__data{
    text-align: center;
    padding: 25px;
    vertical-align: middle;
    background-color: #f2f2f2;
}
.table__data--white{
    background-color: #fafafa;
}
.table1 > .table__footer > .table__row > .table__data{
    border-right: 1px solid #c3c3c3;
}
.table1 > .table__head > .table__row:not(:first-child) > .table__data{
    border-left: 1px solid #c3c3c3;
}
.table1 > .table__head > .table__row:not(:first-child) > .table__data{
    background-color: #fafafa;
}

.table1 > .table__body > .table__row:nth-child(even) .table__data{
    background-color: #e3e3e3;
}
.table1 > .table__body > .table__row:nth-child(odd) .table__data{
    background-color: #f2f2f2;
}
.table1 > .table__body > .table__row:nth-child(even) > .table__data,
.table1 > .table__body > .table__row:nth-child(odd) > .table__data{
    border-right: 1px solid #c3c3c3;
}
.row-name{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}
.row-green{
    background: #89C331;
}
.row-red{
    background: #F04A56;
}
.row-blue{
    background: #20807C;
}
.text--white{
    color: #fff;
}
.price{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    color: inherit;
}
.price--coin{
    margin-left: -15px;
    font-size: 24px;
    line-height: 28px;
    vertical-align: 38px;
}
.price--month{
    font-weight: 400;
    margin-left: -49.5px;
    font-size: 16px;
    margin-top: -4px;
    vertical-align: 21px;
}
.text--medium{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
}
.text--big{
    padding: 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}
.text{
    line-height: 28px;
}
.text--big{
    font-size: 20px;
    font-weight: 700;
}
.text--black{
    color: #484848;
}
.text--type{
    padding-left: 10px;
}
.btn{
    display: block;
    box-sizing: border-box;
    font-family: 'Arimo',sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    border: none;
    background-color: #484848;
    box-shadow: inset 0px -9px #333;
    /* 0px 1px #c3c3c3; */
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
}
.btn--width{
    width: 150px;
}
.btn--green{
    background-color: #89c331;
    box-shadow: inset 0px -9px #79B027,0px 1px #c3c3c3;
}
.btn--red{
    background-color: #f04a56;
    box-shadow: inset 0px -9px #DF3A46,0px 1px #c3c3c3;
}
.btn--blue{
    background-color: #20807c;
    box-shadow: inset 0px -9px #16736F,0px 1px #c3c3c3;
}

.table__data--green{
    background-color: #89c331;
}
.table__data--red{
    background-color: #f04a56;
}
.table__data--blue{
    background-color: #20807c;
}

.table2 > .table__head > .table__row .table__data{
    border-bottom: 15px solid #3A4965
}
.table2 > .table__head > .table__row td:nth-child(even),
.table2 > .table__body > .table__row td:nth-child(even){
    background-color: #e3e3e3;
}
.table2 > .table__body > .table__row:not(:last-child) .table__data:not(:first-child){
    border-bottom: 1px solid #c3c3c3;
}