@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.bg{
    background-color: #333;
    background-image: url(../img/background\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}
.logo{
    display: flex;
    text-decoration: none;
}
.logo-img__wrapper{
    margin-right: 8px;
}
.logo-name{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.logo__text{
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.logo__text--big{
    font-size: 29px;
}
.logo__text--medium{
    font-size: 19px;
}
.logo:hover .logo__text{
    color: #F26522;
}
.logo:hover .logo-img{
    content: url(../img/logo--colored.png); 
}
.header{
    padding-top: 51px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
} 
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact__link:hover{
    color: #F26522;
}
.contact__link{
    text-decoration: none;
    color: #fff;
}
.link__img-wrapper{
    padding: 0 2px;
    background: linear-gradient(to bottom, #fff, #000);
    height: 220px;
}
.link__img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.tour__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 17px 60px;
}
.tour__link{
    display: block;
    text-decoration: none;
    color: #fff;
}
.heading{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.tour__item:hover .info{
    visibility: visible;
    transform: translateY(0%);
}
.tour__item:hover .heading{
    color: #F26522;
}
.frame{
    overflow-y: hidden;
    position: relative;
}
.info{
    visibility: hidden;
    transition: .2s;
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 2px;
    padding: 8px;
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.info__price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.default,
.price{
    margin: 0;
    padding: 4px;
}
.default{
    font-size: 10px;
}
.price{
    font-size: 20px;
}
.details{
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.btn__details{
    color: #ffffff;
    vertical-align: bottom;
    padding: 4px;
}
.btn__details::after{
    content: url(../img/arrow.svg);
    margin-left: 16px;
}
.footer{
    margin-top: 32px;
    padding-bottom: 15px;
}
.copyright{
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}