
body { 
    font-family: sans-serif;
    margin: 0;
    color: orange;
}
.heading--main{ font-size: 125px }
.heading--medium{ font-size: 95px }
.text{ font-size: 100px }
.scene{
    box-sizing: border-box;
    width: 100wh;
    height: 100vh;
    perspective: 500px;
    border: 1px solid #333;
    overflow: hidden;
    background-color: #333;
}
.description{
    transform-style: preserve-3d;
    text-align: center;
    width: inherit;
    height: inherit;
    transform-origin: bottom center;
    transform: rotateX(65deg) translateY(100%);
    animation: 30s linear 0s infinite moveText;
}
audio{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes moveText{
0%{   transform: rotateX(65deg) translateY(100%) }
100%{ transform: rotateX(65deg) translateY(-900%) }
}