@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 61px 0 30px 0;
    width: 1280px;
    margin: 0 auto;
}

/* Type of text */

.text--standart{
    padding: 0;
    margin: 0;
    padding-top: 34px;
    font-size: 18px;
    line-height: 24px;
}

.text--copyright{
    padding: 19px;
    margin: 0;
    font-size: 24px;
}

/*Colors for text */

.text-white{
    color: #fff !important;
}
.text-dark{
    color: #0C1927 !important;
}
.text-blue{
    color: #4BCAFF;
}

/* List */

.list{
    height: 100%;
    padding: 0;
    margin: 0;
}
.list--row{
    display: flex;
    justify-content: center;
}
.list--column{
    display: flex;
    flex-direction: column;
}

/* List__item */

.list__item{
    list-style-type: none;
}
.list__item__link{
   text-decoration: none;
   padding: 30px;
   font-size: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #485863;
}

.list__item--border{
    border-left: 1px solid #fff;
}
/* logo */

.logo{
    font-size: 80px;
    margin-bottom: 40px;
}
.logo-link{
    text-decoration: none;
    color: #000;
}

/* nav */

.navigation{
    background-color: #35444F;
}
.nav__list__item__hover:hover{
    background: #222F3A;
}

.navigation .list__item:last-child{
    border-right: 1px solid #fff;
}

/* Main */

.main{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}
.left-sidebar{
    height: 100%;
    box-sizing: border-box;
    min-width: 344px;
    border: 1px solid #000;
}
.sidebar__link__hover:hover{
    color: #35444F;
    font-weight: bold;
    background-color: #DBDBDB;
    padding-left: 70px;
}
.content{
    margin-left: 52px;
}
.image__wrapper{
    overflow: hidden;
    height: 530px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article__image{
    transition: 1s ease;
}
.article__image:hover{
    transform: scale(1.2);
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding: 0 21px;
}
.footer__link{
    padding: 0;
    padding: 19px;
}
.footer__link:hover{
    color: #3181A6 !important;
    padding-bottom: 5px;
    border-bottom: 2px solid #3181A6;
}