body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #373737;
}

a{
    text-decoration: none;
    color: #000;
}

nav{
    margin: 0 auto;
    max-width: 620px;
    padding: 25.5px 0;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    height: 27px;
    font-size: 18px;
    list-style: none;
}

a{
    letter-spacing: 2.7px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ff0000;
    font-weight: bold;
}

p,h2,button{
    line-height: 26px;
    text-align: center;
}
p{
    letter-spacing: 2.4px;
}

.text{
    padding: 0;
    margin: 0;
    padding-bottom: 28px;
}

h2{
    margin-bottom: 38px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 3.3px;
}

main{
    padding: 42px 67.5px;
}

.info{
    margin-bottom: 38px;
}

.center{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.image-fullscreen img{
    width: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.red{
    background-color: #ff0000;
    color: #fff;
}

.button{
    border: none;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    padding: 0;
}

footer{
    margin: 29px;
}

.copyright{
    margin: 0;
    padding-top: 34px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px
}